version: "3.7"

services:

  db:
    image: postgres:12.1
    ports:
    - 5432:5432
    environment:
      - POSTGRES_DATABASE=airflow
    volumes:
      - './db/init:/docker-entrypoint-initdb.d'

  flyway:
    image: flyway/flyway
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./flyway/sql:/flyway/sql
    command: migrate

  webserver:
    image: puckel/docker-airflow:1.10.7
    environment:
      - POSTGRES_HOST=db
      - LOAD_EX=n
      - EXECUTOR=Local
    volumes:
      - ./src/dags:/usr/local/airflow/dags
      - ./requirements.txt:/requirements.txt
    ports:
      - "8080:8080"
    depends_on:
      - db
      - flyway
    command: webserver