version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.7.5
        environment:
          PYTHONPATH: /airflow/dags:/usr/local/lib/python3.7/site-packages
#      - image: circleci/postgres:12.1
#        environment:
#          POSTGRES_DATABASE=airflow
    steps:
      - checkout
      - run:
          name: Setup Container
          command: sudo pip install -r requirements.txt
      - run:
          name: Running Tests
          command: python -m unittest