version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.7.5
        environment:
          PYTHONPATH: /src/dags:/usr/local/lib/python3.7/site-packages
    steps:
      - checkout
      - run:
          name: Setup Container
          command: sudo pip install -r requirements.txt
      - run:
          name: Running Tests
          command: py.test -v --junitxml="/tmp/results.xml" |& tee /tmp/results.txt
      - store_test_results: # Upload test results for display in Test Summary: https://circleci.com/docs/2.0/collect-test-data/
          path: /tmp/results.xml
          destination: test_results
      - store_artifacts: # Upload test summary for display in Artifacts: https://circleci.com/docs/2.0/artifacts/
          path: /tmp/results.txt
          destination: test_results