version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.7.5
#      - image: circleci/postgres:12.1
#        environment:
#          POSTGRES_DATABASE=airflow
    steps:
      - checkout
      - run:
          name: Setup Container
          command: |
            export PYTHONPATH=/airflow/dags/:${PYTHONPATH}
            sudo pip install -r requirements.txt
      - run:
          name: Running Tests
          command: python -m unittest tests